header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    background-color: #f8f8f8;
}

header nav {
    margin-top: 15px;

}

header nav a {
    display: inline-block; 
    padding: 8px 15px;
    margin: 0 10px; 
    background-color: #5c96b8; 
    color: white; 
    text-decoration: none;
    border-radius: 5px; 
    font-weight: bold;
    transition: background-color 0.3s ease;
}

header nav a:hover {
    background-color: #4a7aa9; 
    transform: translateY(-1px);
}

/* Formularios */
#create-product-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px; 
    max-width: 800px; 
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#create-product-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

#create-product-form button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    grid-column: span 2; 
    max-width: 250px;
    margin: 0 auto; 
}

#create-product-form button:hover {
    background-color: #0056b3;
}

#create-message {
    text-align: center;
    font-weight: bold;
    grid-column: 1 / -1;
}

/* Lista de prod */
h1, h2 {
    text-align: center;
    margin-top: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center; 
    max-width: 1200px; 
    margin: 0 auto 40px auto;
}

.product-card {
    border: 1px solid #ccc;
    padding: 15px;
    width: 300px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 10px;
    border-radius: 6px;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.product-card h3 {
    margin-top: 0;
    color: #333;
    font-size: 1.2em;
}

.product-card button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.product-card button:hover {
    background-color: #c82333;
}
